@inherits LayoutComponentBase

@using Data

@inject WindowDimensions WindowDimensions

<div class="d-md-flex min-vh-100">
    <Sidebar />
    <div class="main p-4 flex-grow-1 overflow-hidden">
        @Body
    </div>
</div>

@code {
    private bool navMenuHidden = false;

    private void ToggleNavMenuHidden()
    {
        navMenuHidden = !navMenuHidden;
    }

    protected override void OnInitialized()
    {
        WindowDimensions.MainLayout = this;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await AdjustUIBasedOnWindowDimensions();
    }

    public async Task AdjustUIBasedOnWindowDimensions()
    {
        WindowDimensions.BrowserDimension = await WindowDimensions.GetDimensions();

        if (WindowDimensions.BrowserDimension.Width > 1000)
        {
            WindowDimensions.Mobile = false;
        }
        else
        {
            WindowDimensions.Mobile = true;
        }

        await InvokeAsync(StateHasChanged);
    }
}