@inherits LayoutComponentBase

@using Data

@inject WindowDimensions WindowDimensions

<div class="page">
    @if (navMenuHidden == false)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
        <button @onclick="ToggleNavMenuHidden" type="button" class="btn btn-primary hideSidebarBtn"><span class="oi oi-arrow-left"></span></button>
    }
    else
    {
        <button @onclick="ToggleNavMenuHidden" type="button" class="btn btn-primary hideSidebarBtn"><span class="oi oi-arrow-right"></span></button>
    }

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private bool navMenuHidden = false;

    private void ToggleNavMenuHidden()
    {
        navMenuHidden = !navMenuHidden;
    }

    protected override void OnInitialized()
    {
        WindowDimensions.MainLayout = this;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) AdjustUIBasedOnWindowDimensions();
    }

    public async Task AdjustUIBasedOnWindowDimensions()
    {
        WindowDimensions.BrowserDimension = await WindowDimensions.GetDimensions();

        if (WindowDimensions.BrowserDimension.Width > 1000)
        {
            WindowDimensions.Mobile = false;
        }
        else
        {
            WindowDimensions.Mobile = true;
        }

        InvokeAsync(StateHasChanged);
    }
}