@using DataAccessLibrary
@using Data.Common
@using Data

@inject TwigsTempStorage TwigsTempStorage 
@inject TwigsHandler TwigsHandler 
@inject EditedTwig EditedTwig  

<div @onmouseover="OnMouseOver" @onmousemove="OnMouseOver" @onmouseout="OnMouseOut" style="overflow:hidden;">
    <div style="height:5rem;width:@width;margin-left:@margin;display:inline-block;float:left;">
        <img style="width:100%; height:100%; visibility:hidden;"/>
    </div>

    <div @onclick="OpenForEditting" @ondblclick="AddTwig" class="card @cardStyle mb-3" style="max-width: 18rem;margin-left:0px; overflow:hidden;">
        <div class="card-body">
            <h5 class="card-title">@Twig.Title</h5>
            <p class="card-text">@Twig.DueDate<br />Priority @Twig.Priority</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Twig Twig { get; set; }

    [Parameter]
    public NestedStructure NestedStructure { get; set; }

    private string margin
    {
        get
        {
            float result = Twig.AbsoluteLevel * UISettings.MarginMultiplier;
            return $"{result}rem";
        }
    }
    private string cardStyle;

    private bool highlight = false;
    private string width = "0rem";

    protected override void OnInitialized()
    {
        cardStyle = UISettings.LevelStyles[Twig.RelativeLevel];
    }

    #region AppearanceEffects
    private void OnMouseOut()
    {
        cardStyle = UISettings.LevelStyles[Twig.RelativeLevel];
        width = "0rem";
        highlight = false;
    }

    private void OnMouseOver()
    {
        if (UISettings.LevelHighlightStyles[Twig.RelativeLevel].Length > 0)
            cardStyle = UISettings.LevelHighlightStyles[Twig.RelativeLevel];

        width = UISettings.MarginHighlightAddittion.ToString() + "rem";

        highlight = true;
    }
    #endregion AppearanceEffects

    private void OpenForEditting()
    {
        EditedTwig.Twig = Twig;
        EditedTwig.NestedTwig = this;

        if (EditedTwig.Edit != null)
        {
            EditedTwig.Edit.Update();
        }

        cardStyle = UISettings.LevelStyles[Twig.RelativeLevel];
    }

    public void Update()
    {
        InvokeAsync(StateHasChanged);
    }

    private void AddTwig()
    {
        for (int i = 0; i < TwigsTempStorage.Twigs.Count; i++)
        {
            if (TwigsTempStorage.Twigs[i].Id == Twig.Id)
            {
                // insert the new twig into the database
                TwigsHandler.InsertTwig(NestedStructure.ProjectId, Twig.Id);

                // add the new twig to the GUI
                int newTwigId = TwigsHandler.GetLastId();
                TwigsTempStorage.Twigs.Insert(i + 1,
                    new Twig()
                    {
                        Id = newTwigId,
                        ProjectId = NestedStructure.ProjectId,
                        ParentId = Twig.Id,
                        Title = "New Twig",
                        DueDate = DateTime.Now.AddYears(100),
                        Priority = 0,
                        Description = "",
                        State = State.NOTSTARTED,
                        AbsoluteLevel = Twig.AbsoluteLevel + 1,
                        RelativeLevel = GetNextRelativeLevel()
                    });

                // update and exit
                NestedStructure.Update();
                return;
            }
        }
    }

    private int GetNextRelativeLevel()
    {
        int nextRelativeLevel = Twig.RelativeLevel + 1;
        if (nextRelativeLevel >= UISettings.LevelStyles.Length)
        {
            nextRelativeLevel = 0;
        }

        return nextRelativeLevel;
    }
}
