@using DataAccessLibrary 

<div class="search-sort" style="display: @visible;">
    <HxListGroup>
        <div class="dropdown">
            <button @onclick="ToggleDropdown" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
            </button>
            <div class="dropdown-menu" style="@dropdownOpenedStyle" aria-labelledby="dropdownMenu2">
                <button @onclick="() => UpdateSort(SortBy.DUEDATE_HIGHTOLOW)" class="dropdown-item" type="button">Due Date Desc</button>
                <button @onclick="() => UpdateSort(SortBy.DUEDATE_LOWTOHIGH)" class="dropdown-item" type="button">Due Date Asc</button>
                <div class="dropdown-divider"></div>
                <button @onclick="() => UpdateSort(SortBy.PRIORITY_HIGHTOLOW)" class="dropdown-item" type="button">Priority Desc</button>
                <button @onclick="() => UpdateSort(SortBy.PRIORITY_LOWTOHIGH)" class="dropdown-item" type="button">Priority Asc</button>
                <div class="dropdown-divider"></div>
                <button @onclick="() => UpdateSort(SortBy.COMPLETEDDATE_HIGHTOLOW)" class="dropdown-item" type="button">Completed Date Desc</button>
                <button @onclick="() => UpdateSort(SortBy.COMPLETEDDATE_LOWTOHIGH)" class="dropdown-item" type="button">Completed Date Asc</button>
            </div>
        </div>
        @foreach (var twig in TwigsTempStorage.SortedTwigs)
        {
            <HxListGroupItem Color="GetTwigButtonColor(twig)" OnClick="() => OpenForEditting(twig)">@twig.Title</HxListGroupItem>
        }
    </HxListGroup>
</div>
