@page "/"

@using Data
@using DataAccessLibrary 

@inject AccountHandler AccountHandler
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<h1>Koala</h1>

<p>Koala is an innovative and modern task tracking and planning app. It allows you to create tree task structures to easily organize your projects and stay focused on your work.</p>

<a href="/signup" class="btn @UISettings.PrimaryButton btn-lg">Sign Up</a>

@code {      
    protected async override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (AccountHandler.User == null)
            {
                var cookieContent = await LocalStorage.GetItemAsync<string>("QoAOgiNzhb");
                AccountHandler.HandleCookies(cookieContent);
            }
        }
    }
}