@page "/"

<h1>Koala</h1>

<p>Koala is an innovative and modern task tracking and planning app. It allows you to create tree task structures to easily organize your projects and stay focused on your work.</p>

<a href="/signup" class="btn btn-success btn-lg">Sign Up</a>

@code {

}