@page "/"
@using Data
@using DataAccessLibrary

<h1>Hello, world!</h1>

<button type="button" class="btn btn-primary" @onclick="AddUser">Add Ruza</button>

@foreach (var user in users)
{
    @user.Id
    <br />
    @user.Email
    <br />
    @user.Password
    <br />
    <br />
}

@code {
    List<User> users = new List<User>();

    private void AddUser()
    {
        UsersHandler usersHandler = new UsersHandler();
        usersHandler.InsertUser("ruzicka@pavel.com", "12345676");
    }

    protected override void OnInitialized()
    {
        UsersHandler usersHandler = new UsersHandler();
        users = usersHandler.GetAllUsers();
    }
}