@page "/share"

@using Data
@using Data.ValidationModels 
@using DataAccessLibrary

@inject UsersHandler UsersHandler
@inject ShareHandler ShareHandler  
@inject ShareProject ShareProject 
@inject AccountHandler AccountHandler 
@inject NavigationManager NavigationManager 

<EditForm Model="@ShareModel" OnValidSubmit="@ShareThisProject" class="form-inline">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-2" style="margin-right:0.2rem">
        <InputText @bind-Value="ShareModel.Email" placeholder="Name" class="form-control"></InputText>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Share</button>
</EditForm>

@code {
    private ShareModel ShareModel { get; set; } = new ShareModel();

    private void ShareThisProject()
    {
        var users = UsersHandler.GetUsers(ShareModel.Email).ToList();

        if (users == null) return;
        if (users.Count != 1) return;

        ShareHandler.Share(ShareProject.Project.Id, users.First().Id);
    }
}
