@page "/signup"

@using Data

@inject DataAccessLibrary.UsersHandler UsersHandler 
@inject NavigationManager NavigationManager 

@if (SomethingWentWrong)
{
    <div class="alert alert-danger">
        Something <strong>went wrong</strong>, please <a class="alert-link" href="/signup">try again</a> in a few minutes
    </div>
}

<h3>Sign Up</h3>

<EditForm Model="@SignupModel" OnValidSubmit="@ValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <InputText @bind-Value="SignupModel.Email" placeholder="Email" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <InputText @bind-Value="SignupModel.Password" type="password" Placeholder="Password" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <InputText @bind-Value="SignupModel.ControlPassword" type="password" Placeholder="Repeat Password" class="form-control"></InputText>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private SignupModel SignupModel { get; set; } = new SignupModel();

    private bool SomethingWentWrong { get; set; } = false;

    private void ValidSubmit()
    {
        bool success = UsersHandler.InsertUser(SignupModel.Email, SignupModel.Password);

        if (success)
        {
            NavigationManager.NavigateTo("/login?signup=true");
        }
        else
        {
            SomethingWentWrong = true;
        }
    }
}
