@page "/signup"

@using Data

@inject DataAccessLibrary.UsersHandler UsersHandler 
@inject NavigationManager NavigationManager 

@if (SomethingWentWrong)
{
    <div class="alert alert-danger">
        Something <strong>went wrong</strong>, please <a class="alert-link" href="/signup">try again</a> in a few minutes
    </div>
}

@if (AccountWithThisEmailExists)
{
    <div class="alert alert-danger">
        Unfortunately an account with this email <strong>already exists</strong>, please use a different email address
    </div>
}

<h3>Sign Up</h3>

<EditForm Model="@SignupModel" OnValidSubmit="@ValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <InputText @bind-Value="SignupModel.Email" placeholder="Email" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <InputText @bind-Value="SignupModel.Password" type="password" Placeholder="Password" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <InputText @bind-Value="SignupModel.ControlPassword" type="password" Placeholder="Repeat Password" class="form-control"></InputText>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private SignupModel SignupModel { get; set; } = new SignupModel();

    private bool SomethingWentWrong { get; set; } = false;
    private bool AccountWithThisEmailExists { get; set; } = false;

    private void ValidSubmit()
    {
        // checking if there's already an account with this email
        var usersFound = UsersHandler.GetUsers(SignupModel.Email);
        if (usersFound != null)
        if (usersFound.Count > 0)
        {
            AccountWithThisEmailExists = true;
            return;
        }

        bool success = UsersHandler.InsertUser(SignupModel.Email, SignupModel.Password);

        if (success)
        {
            NavigationManager.NavigateTo("/login?signup=true");
        }
        else
        {
            SomethingWentWrong = true;
        }
    }
}
