@page "/trees"

@using Data
@using DataAccessLibrary

@inject AccountHandler AccountHandler
@inject ProjectsHandler ProjectsHandler
@inject NavigationManager NavigationManager
@inject ShareHandler ShareHandler 
@inject UsersHandler UsersHandler 
@inject ShareProject ShareProject 
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<NewTree Parent="@this" />

<br />

<EditTree @ref="EditTree" />

<br />

<h5>Trees</h5>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Last Opened</th>
            <th>Open</th>
            <th>Preferences</th>
            <th>Share</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Projects)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.DateCreated</td>
                <td>@project.LastOpened</td>
                <td><button class="btn btn-outline-secondary" @onclick="() => OpenProject(project.Id)">Open</button></td>
                <td><button class="btn btn-secondary" @onclick="() => OpenProjectPreferences(project)"><span class="oi oi-wrench"></span></button></td>
                <td><button class="btn btn-secondary" @onclick="() => Share(project)"><span class="oi oi-share"></span></button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<Project> Projects { get; set; } = new List<Project>();

    private bool redirectToLoginPage = false;

    private EditTree EditTree { get; set; }

    private void Share(Project project)
    {
        ShareProject.Project = project;
        NavigationManager.NavigateTo("/share");
    }

    private void OpenProjectPreferences(Project project)
    {
        if (EditTree == null)
        {
            return;
        }

        EditTree.Edit(project);
    }

    private void OpenProject(int id)
    {
        NavigationManager.NavigateTo($"/tree/{id}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) LoadProjects();

        if (redirectToLoginPage)
        {
            NavigationManager.NavigateTo("/login");
        }
    }

    private async void LoadProjects()
    {
        if (AccountHandler.User == null)
        {
            var cookieContent = await LocalStorage.GetItemAsync<string>("QoAOgiNzhb");
            AccountHandler.HandleCookies(cookieContent);
        }

        if (AccountHandler.User == null)
        {
            redirectToLoginPage = true;
            return;
        }

        Projects = ProjectsHandler.GetProjectsOfUser(AccountHandler.User.Id) ?? new List<Project>();
        LoadSharedProjects();

        InvokeAsync(StateHasChanged);
    }

    private void LoadSharedProjects()
    {
        var collaborations = ShareHandler.GetCollaborationsWithUser(AccountHandler.User.Id);

        if (collaborations == null) return;

        foreach (var collaboration in collaborations)
        {
            var project = ProjectsHandler.GetProject(collaboration.ProjectId).ToList();
            if (project != null)
                if (project.Count == 1)
                    Projects.Add(project.First());
        }
    }

    public void Update()
    {
        InvokeAsync(StateHasChanged);
        LoadProjects();
    }
}
