@page "/trees"

<NewTree Parent="@this" />

<br />

<EditTree @ref="EditTree" />

<br />

<h5>Trees</h5>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Last Opened</th>
            <th>Open</th>
            <th>Preferences</th>
            <th>Share</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Projects)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.DateCreated</td>
                <td>@project.LastOpened</td>
                <td><button class="btn btn-outline-secondary" @onclick="() => OpenProject(project.Id)">Open</button></td>
                <td><button class="btn btn-secondary" @onclick="() => OpenProjectPreferences(project)"><span class="oi oi-wrench"></span></button></td>
                <td><button class="btn btn-secondary" @onclick="() => Share(project)"><span class="oi oi-share"></span></button></td>
            </tr>
        }
    </tbody>
</table>
