@page "/trees" 

@using Data
@using DataAccessLibrary

@inject AccountHandler AccountHandler 
@inject ProjectsHandler ProjectsHandler 
@inject NavigationManager NavigationManager 

<NewTree Parent="@this"/>

<br />

<h5>Trees</h5>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Last Opened</th>
            <th>Open</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Projects)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.DateCreated</td>
                <td>@project.LastOpened</td>
                <td><button class="btn btn-outline-secondary" @onclick="() => OpenProject(project.Id)">Open</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<Project> Projects { get; set; } = new List<Project>();

    private void OpenProject(int id)
    {
        NavigationManager.NavigateTo($"/tree/{id}");
    }

    protected override void OnInitialized()
    {
        LoadProjects();
    }

    private void LoadProjects()
    {
        Projects = ProjectsHandler.GetProjectsOfUser(AccountHandler.User.Id) ?? new List<Project>();
    }

    public void Update()
    {
        InvokeAsync(StateHasChanged);
        LoadProjects();
    }
}
